.main-grid {
  display: grid;
  gap: 0px;
  height: 100vh;
  grid-template-columns: 3fr 1fr 2fr;
  border: 1px solid black;
  margin: 0px;
  padding: 0;
}

.main-grid-item {
  border: 1px solid blue;
}

.floors {
  display: grid;
  grid-template-columns: 100%;
  gap: 2%;
  align-content: stretch;
  height: 100%;
}

.floor {
  display: grid;
  border: 1px solid rgb(11, 11, 11);
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  justify-content: stretch;
  grid-template-columns: repeat(6, 1fr);
}

/* .space {
  border: 2px solid purple;
} */

.elevator-shaft {
}

.control-panel {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}
@keyframes move {
  from {
      transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

.ppl{
  animation: move 10s linear infinite;
}

.floor1 {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
.btn-floor {
  width: 70px;
  height: 70px;
  margin: 20px;
  border-radius: 25%;
  display: inline-block;
  background: rgb(0, 0, 0);
  color: #fff;
}

.people-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
    border-color: #000000;
    background: #8e1212;
  }
}

.control-btn {
  display: flex;
}
