.main-grid {
  display: grid;
  gap: 0px;
  height: 100vh;
  grid-template-columns: 50% 10% 40%;
  border: 1px solid black;
  margin: 0px;
  padding: 0;
}

.main-grid-item {
  border: 1px solid blue;
}

.floors {
  display: grid;
  grid-template-columns: 100%;

  gap: 2%;
  align-content: stretch;
  height: 100%;
}

.floor {
  display: grid;
  border: 1px solid yellow;
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  justify-content: stretch;
}

.space {
  border: 2px solid purple;
}

.elevator-shaft {
}

.control-panel {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}
