.main-grid {
  display: grid;
  gap: 0px;
  height: 100vh;
  grid-template-columns: 50% 10% 40%;
  border: 1px solid black;
  margin: 0px;
  padding: 0;
}

.main-grid-item {
  border: 1px solid blue;
}

.floors {
  display: grid;
  grid-template-columns: 100%;

  gap: 2%;
  align-content: stretch;
  height: 100%;
}

.floor {
  display: grid;
  border: 1px solid yellow;
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  justify-content: stretch;
  grid-template-columns: repeat(6, 1fr);
}

.space {
  border: 2px solid purple;
}

.elevator-shaft {
}

.control-panel {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}

.people-button {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}
