.main-grid {
  display: grid;
  gap: 0px;
  height: 100vh;
  grid-template-columns: 3fr 1fr 2fr;
  border: 1px solid black;
  margin: 0px;
  padding: 0;
}

.main-grid-item {
  border: 1px solid blue;
}

.floors {
  display: grid;
  grid-template-columns: 100%;
  align-content: stretch;
  height: 100%;
}

.floor {
  display: grid;
  border: 1px solid rgb(11, 11, 11);
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  justify-content: stretch;
  grid-template-columns: repeat(6, 1fr);
  height: 136px;
}

.control-panel {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}

.floor1 {
  text-align: center;
  max-width: 347px;
  margin: 0 auto;
}
.btn-floor {
  width: 70px;
  height: 70px;
  margin: 20px;
  border-radius: 25%;
  display: inline-block;
  background: rgb(0, 0, 0);
  color: #fff;
  border: 5px solid rgb(92, 92, 92);
}

.people-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  border: 5px solid rgb(92, 92, 92);
  padding: 13px 23px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #000000;
  color: #ffffff;
  :hover {
    border-color: #000000;
    background: #8e1212;
  }
}

.control-btn {
  display: flex;
  place-content: center;
  gap: 20px;
}
h3 {
  display: flex;
  place-content: center;
}

.ppl {
  font-size: 25px;
}

.hi {
  display: flex;
}

.Tooltip {
  cursor: default;
  position: relative;
  text-align: center;
}

.Tooltip:hover {
  color: #292b2c;
}

.Tooltip:hover::before {
  position: absolute;
  content: attr(data-title);
  background-color: #000;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  top: -25px;
  width: 100px;
  right: 50%;
  padding: 3px 8px;
  transform: translate(50%, -50%);
  white-space: nowrap;
  overflow-wrap: break-word;
}

.Tooltip:hover::after {
  position: absolute;
  content: "\25BC";
  height: 1.25rem;
  color: #000;
  top: -12px;
  left: 50%;
  transform: scale(1.8, 1) translate(-33%, -50%);
}

.tooltip-inner {
  white-space: pre-wrap;
}

.employeeForm {
  display: flex;
  flex-direction: column;
}

.people-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
